[Unit]
Description=Dunst Notification Daemon
After=graphical.target

[Service]
ExecStart=/usr/bin/dunst
Restart=always

[Install]
WantedBy=default.target
